/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
.container {
    width: 1100px;
}
/* End Global CSS */

/* Start Navbar CSS */
.navbar ul {
    display: flex;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none;
    color: #e5e5eb;
    margin-right: 20px;
}
.navbar {
    background: #1f2937;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logotext {
    color: #f9faf8;
    font-size: 24px;
    
}
/* End Navbar CSS */

/* Start Hero Section */
.hero {
    background: #1f2937;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.hero .container {
    display: flex;
    height: 100%;
    align-items: center;
}
.hero .herotext {
    flex: 1;
}
.hero .herotext h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero .herotext p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero .placeholder-img {
    background: silver;
    display: flex;
    align-items: center;
    flex: 1;
    height: 300px;
    justify-content: center;
}
.hero .btn-primary {
    background: #3882f6;
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    margin-top: 10px;
}
/* End Hero Section */
.gallery {
    display: flex;
    background: #fff;
    justify-content: center;
    height: 400px;
}
.gallery .gal-text {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.gallery .cards {
    display: flex;
    justify-content: space-around;
}
.gallery .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.card-item .box {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid #3882f6;
}
.card-item .card-text {
  text-align: center;
}
/* End Gallery Section */

/* Begin Quote Section */